<div class="container mt-5">
    <form action="/admin/submit/" method="post" name="form2" id="form2">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" name="name" id="name1" required="">

        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" name="email" id="email1" required="">
                
        </div>
        {{!-- <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div> --}}
        {{!-- <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">
                Address </label>
            <input type="text" class="form-control" name="address" id="address1" required="">
        </div> --}}
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Phone number:</label>
            <input type="number" class="form-control" name="number" id="number1" required="">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>