<header>
    <nav class="navbar navbar-expand-lg navbar-light nav-back-color bg-dark ">
        <div class="container-fluid ">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand text-white" href="#">Shopping cart</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled text-white">Orders</a>
                    </li>
                </ul>

                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if user}}
                        {{user.name}}
                        {{else}}
                        Account
                        {{/if}}
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {{#if user}}
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        {{else}}
                        <li><a class="dropdown-item" href="/login">Login</a></li>
                        {{/if}}

                        {{!-- <li><a class="dropdown-item" href="#">Another action</a></li> --}}
                        {{!-- <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
                    </ul>

                </div>

            </div>


            {{!-- <a href="/logout" class="btn btn-light" type="button">logout</a> --}}



        </div>

    </nav>

</header>