<div class="container mt-5">
    <form action="/signup" method="post" name="form1" id="form1">
        <div class=" mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" name="name" id="name">

        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" name="email" id="email">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Phone number:</label>
            <input type="number" class="form-control" name="number" id="number">
            <input type="number" class="form-control" name="number" id="number">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
       
    </form>
</div>